[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cleanup = "*"
django-reset-migrations = "*"
gunicorn = "*"
pillow = "*"
pycparser = "*"
pytz = "*"
reportlab = "*"
cffi = "*"
faker = "*"
names = "*"

[requires]
python_version = "3.5"
