cffi==1.12.2
Django>=2.2.3
django-cleanup==3.2.0
django-js-routing==1.0.4
django-reset-migrations==0.3.1
Faker==1.0.5
gunicorn==19.9.0
mysqlclient==1.4.2.post1
names==0.3.0
Pillow==6.0.0
pycparser==2.19
python-dateutil==2.8.0
pytz==2019.1
reportlab==3.5.19
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
