cffi==1.12.2
Django==2.2
django-cleanup==3.2.0
django-js-routing==1.0.4
django-reset-migrations==0.3.1
gunicorn==19.9.0
mysqlclient==1.4.2.post1
Pillow==6.0.0
pycparser==2.19
pytz==2019.1
reportlab==3.5.19
sqlparse==0.3.0
