{% extends 'base_2.html' %}
{% load staticfiles %}
{% block style %}
	body {
		background-color: #DADADA;
	}
	body > .grid {
		height: 100%;
	}
	.image {
		margin-top: -100px;
	}
	.column {
		max-width: 450px;
	}
{% endblock %}
{% block main_content %}
	<div class="ui middle aligned center aligned grid">
	  <div class="column">
	    <h2 class="ui image header">
	      <img src="{% static 'img/logo.png' %}" class="image">
	      <div class="content">
	        Log-in to faculty panel
	      </div>
	    </h2>
			<form class="ui large form error" method="post">
				{% csrf_token %}
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">

							<i class="user icon"></i>
							<input type="text" name="username" placeholder="Username">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" name="password" placeholder="Password">
						</div>
					</div>
				</div>
				<div class="field">
					<button type="submit" name="button" class="ui fluid large submit green button">Login</button>
				</div>
				{% if form.errors %}
					<div class="ui error message">
						Incorrect username or password
					</div>
				{% endif %}
			</form>
	    <div class="ui message">
	      Having trouble? Contact <a href="#" onclick="showmodal()">admin</a>
	    </div>
	  </div>
	</div>

	<!-- Modal -->
	<div class="ui small modal">
	  <i class="close icon"></i>
	  <div class="header">
	    Contact
	  </div>
	  <div class="content">
	    <div class="description">
	      <div class="ui header">You can contact the admin through these numbers</div>
	      <p>(+63) 998 324-1818</p>
				<p>(+63) 927 655-9748</p>
	      <p>Or you can me at ntfkuser@protonmail.com</p>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui black deny button">
	      Okay
	    </div>
	  </div>
	</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		function showmodal(){
			$('.ui.small.modal').modal('show');
		}
	</script>
{% endblock %}
