{% extends 'staff/base_staff.html' %}
{% load staticfiles %}
{% block album %}
active
{% endblock %}
{% block main_content %}
  <a href="{% url 'staff:albums' %}"class="ui orange button">
    <i class="left angle icon"></i>
    List of all Albums
  </a>
  <div class="ui raised segment">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          <div class="ui placeholder segment">
            <div class="ui icon header">
              <i class="download icon"></i>
              <h2>Drop Photos Here to Upload</h2>
            </div>
            <div class="ui horizontal divider">
              or
            </div>
            <div class="ui blue button" id="upload-photos">
              Click Me
            </div>
          </div>
          <input id="fileupload" name="file" type="file" multiple accept="image/*"
            data-url = "{% url 'staff:upload_photo' album=photos.album_slug %}"
            style="display:none;"
            data-form-data='{"csrfmiddlewaretoken" : "{{ csrf_token }}"}'>
          <h3>{{ photos.album}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h2 class="ui header">Recently Uploaded</h2>
          <div class="ui placeholder segment" id="recently-uploaded">
            <div class="ui segments" style="display:none;" id="uploaded-segments">

            </div>
            <div class="ui icon header" id="image-null-holder">
              <i class="file image outline icon"></i>
              No images uploaded yet
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui container segment">
            <h2 class="ui header">Pictures in this album</h2>
            <div class="ui divider"></div>
            <table class="ui celled padded table">
              <thead >
                <tr>
                  <td>
                    Picture
                  </td>
                  <td>
                    Action
                  </td>
                </tr>
              </thead>
              <tbody>
                {% for photo in photos.photos %}
                <tr>
                  <td>
                    <img src="{{ photo.file.url }}" alt="" width="250">
                  </td>
                  <td>
                    <a href="{% url 'staff:delete_photo' album=photo.album.slug pk=photo.pk %}" class="ui red button">
                      <i class="remove icon">
                      </i>Delete
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL -->
  <div class="ui basic modal">
    <div class="ui icon header">
      <i class="upload icon"></i>
      Uploading images
    </div>
    <div class="content">
      <div class="ui teal progress" id="progress">
        <div class="bar"></div>
        <div class="label" style="color:white;"></div>
      </div>
    </div>
  </div>

{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/file_upload.js' %}"></script>
<!-- TODO: Implement a carousel view for all the photos
<script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
<script type="text/javascript">
  $('.slider').glide();
</script>
-->
{% endblock %}
