{% extends 'base_2.html' %}
{% block title %}
  FAQs
{% endblock %}
{% block main_content %}
  <div class="ui vertical stripe stacked segment">
  <div class="ui justified container">
    <h1>FAQs</h1>
    <div class="ui divider"></div>
      <div class="ui styled fluid accordion">
        <div class="ui segment">
          <div class="active title">
            <p class="description"><i class="ui dropdown icon"></i>Libre po ba ang lahat?</p>
          </div>
          <div class="active content">
            <p class="description">Yes, pero madaming miscellaneous (e.g. projects, ambangan)</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p class="description"><i class="ui dropdown icon"></i>May intramurals po ba kayo?</p>
          </div>
          <div class="content">
            <p class="description">Yes we have, although sports are not the school's priority.</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p><i class="ui dropdown icon"></i>Ano - ano po ang mga subjects niyo?</p>
          </div>
          <div class="content">
            <p class="description">For Junior High School, may eight (8) core subjects and three (3) elective subjects:
              <div class="ui bulleted relaxed list">
                <div class="item">
                  <div class="header">
                  English
                  </div>
                </div>
                <div class="item">
                  <div class="header">
                  Filipino
                  </div>
                </div>
                <div class="item">
                  <div class="header">
                  Mathematics
                  </div>
                </div>
                <div class="item">
                  <div class="header">
                  Araling Panlipunan
                  </div>
                </div>
                <div class="item">
                  <div class="header">
                  Science
                  </div>
                </div>
                <div class="item">
                  <div class="header">
                  TLE / ICT
                  </div>
                </div>
                <div class="item">
                  <div class="header">
                  Music, Arts, Physical Education and Health (MAPEH)
                  </div>
                </div>
                <div class="item">
                  <div class="header">
                  Edukasyon sa Pagpapakatao
                  </div>
                </div>
              </div>
          <p class="description">For Senior High School: </p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             Pwede po ba magtransfer from other schools to QSHS?</p>
          </div>
          <div class="content">
            <p class="description">Pwede, pero dapat galing sa ibang science high school</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             Pwede po ba mag Senior High School (SHS) sa QSHS kahit nag-Junior High School sa iba?</p>
          </div>
          <div class="content">
            <p class="description">Nope, only Grade 10 students in our school can enroll to our Senior High School (SHS) Program.</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             Anong mga strands ang ino-offer ng QSHS for Senior High School?</p>
          </div>
          <div class="content">
            <p class="description">Our school only offers STEM track</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             Sino lang po pwede mag-dorm?</p>
          </div>
          <div class="content">
            <p class="description">Open for all students, pero mas prioritized ang mga nakatira sa malalayong bayan.</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             May free internet po ba sa QSHS?</p>
          </div>
          <div class="content">
            <p class="description">No, we prefer our students to provide their own source.</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             Pwede po bang bumisita ang mga magulang sa dorm?</p>
          </div>
          <div class="content">
            <p class="description">Yes, pero may allowed time lang.</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             Madalas ba ang activities sa school nyo?</p>
          </div>
          <div class="content">
            <p class="description">Yes, there are times na madaming events due to multple club activities na nagkakasabay sabay</p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
             May clubs po ba sa school nyo?</p>
          </div>
          <div class="content">
            <p class="description">Meron, in fact we have <b>12</b> established organizations. <a href="orgs.html">Learn more here</a></p>
          </div>
        </div>
        <div class="ui segment">
          <div class="title">
            <p>
            <i class="ui dropdown icon"></i>
              Kailangan po ba na magaling sa Science and/or Math para maging honor student?</p>
          </div>
          <div class="content">
            <p class="description">Yes, because we always aim for academic excellence especially in the field of Science, Mathematics and Technology</p>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
