{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
  Home - QSHS
{% endblock %}
{% block style %}
  .ui.text.container {
    margin-top: 0em;
  }
  .ui.text.container h1 {
    font-weight: bold;
    font-size: 3em;
    text-shadow: 2px 2px 4px black;
  }
  #header_segment .ui.header {
    float: left;
  }

{% endblock %}
{% block linkstyle %}
<link rel="stylesheet" href="{% static 'css/glider.css' %}">
{% endblock %}
{% block main_content %}
    <div class="dimmed pusher">
        <div class="ui masthead center aligned segment">

            <div class="ui green secondary large menu"  id="home-navbar">
                <a class="item" href="{% url 'main:index' %}">
                  <div class="ui header">
                    <img class="logo" src="{% static 'img/logo.png' %}">
                    QSHS
                  </div>
                </a>
                <div class="ui right item">
                    <a class="active item" href="{% url 'main:index' %}">Home</a>
                <a class="item" href="{% url 'main:admissions' %}">Admissions</a>
                <a class="item" href="{% url 'main:news' %}">News</a>
                <div class="ui dropdown {% block archives %} {% endblock %}item">
                  Archives
                  <i class="ui dropdown icon"></i>
                  <div class="menu">
                    <a class="{% block archive_documents %} {% endblock %}item" href="#">Documents</a>
                    <div class="ui divider"></div>
                    <a class="{% block album %} {% endblock %}item" href="{% url 'album:albums' %}">Album</a>
                  </div>
                </div>
                <a class="item" href="{% url 'main:organizations' %}">Organizations</a>
                <div class="ui dropdown item">
    							Research
    							<i class="ui dropdown icon"></i>
    							<div class="menu">
    								<a class="item" href="{% url 'main:applied_science' %}">Applied Science</a>
    								<div class="ui divider"></div>
    								<a class="item" href="{% url 'main:life_science' %}">Life Science</a>
    							</div>
    						</div>
                <a class="item" href="{% url 'main:about' %}">About</a>
                <a class="item" href="{% url 'main:faqs' %}">FAQs</a>
                <div class="right menu">
                  <div class="item">
                    {% if user.is_authenticated %}
                    <a class="ui inverted green button" href="{% url 'staff:index' %}">
                        <i class="universal access icon"></i>
                        Faculty/Staff
                    </a>
                    {% else %}
                    <a class="ui inverted green button" href="{% url 'staff:login' %}">
                        <i class="sign in icon"></i>
                        Faculty/Staff
                    </a>
                    {% endif %}
                  </div>
                </div>
                </div>
            </div>
            <div class="ui text container" id="banner-text">
              <h1 class="ui header">Quezon Science High School</h1>
              <div class="ui horizontal section divider">
                  <h3>Honorem | Excellencia | Servitium</h3>
              </div>
            </div>
          </div>
            <div class="glider-contain multiple" style="margin-top: 0em;" id="img-slides">
              <button type="button" name="button" class="glider-prev">
                <i class="ui left angle icon"></i>
              </button>
              <div class="glider" style="height: 400px">
                  <div class="ui small image">
                    <img src="{% static 'img/qshs/Dorm 2.jpg' %}" alt="">
                  </div>
                  <div class="ui small image">
                    <img src="{% static 'img/7.jpg' %}" alt="">
                  </div>
                  <div class="ui small image">
                    <img src="{% static 'img/5.jpeg' %}" alt="">
                  </div>
              </div>
              <button type="button" name="button" class="glider-next">
                <i class="ui right angle icon"></i>
              </button>
              <div id="dots" class="glider-dots">

              </div>
            </div>




        <!-- ANNOUNCEMENTS -->

        <div class="ui feature vertical stripe segments">
              <div class="ui middle aligned stackable internally celled grid container" id="header_segment">
                <div class="row">
                  <div class="center aligned column">
                    <h1 class="ui header">
                      Bulletin Board
                    </h1>
                  </div>
                </div>
                <div class="ui row segment">
                  <div class="eight wide column">
                    <h3 class="ui center aligned header">Latest News</h3>
                  </div>
                  <div class="ui middle aligned padded internally celled grid stackable container">
                    <div class="row">
                      <div class="ui eight wide computer sixteen wide tablet column">
                        {% if news %}
                          <div class="ui fluid card">
                            <a class="image" href="{% url 'main:news_detail' pk=news.0.pk %}">
                              <img src="{{ news.0.headline_image.url }}" alt="">
                            </a>
                            <div class="content">
                              <a href="{% url 'main:news_detail' pk=news.0.pk %}" class="header">
                                {{ news.0.headline|safe }}
                              </a>
                              <div class="meta">
                                <span>{{ news.0.published_date|date:"M d, Y" }}</span>
                              </div>
                              <div class="description">
                                {{ news.0.lead_text|safe }}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                      <div class="ui six wide computer sixteen wide tablet right floated column">
                        <div class="ui relaxed items">
                          {% if news %}
                            {% for news in news %}
                              <div class="item">
                                <a class="ui small image" href="{% url 'main:news_detail' pk=news.pk %}">
                                  <img src="{{ news.headline_image.url }}" alt="">
                                </a>
                                <div class="content">
                                  <a href="{% url 'main:news_detail' pk=news.pk %}" class="header">{{ news.headline|safe }}</a>
                                  <div class="meta">
                                    {{ news.published_date|date:"M d, Y"}}
                                  </div>
                                  <div class="description">
                                    {{ news.lead_text|truncatechars:100 }}
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                          {% else %}
                            <div class="item">
                              No news yet
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ui row segment">
                  <div class="eight wide column">
                    <h3 class="ui center aligned header">Announcements</h3>
                  </div>
                  <div class="ui middle aligned padded internally celled grid stackable container">
                    <div class="row">
                      <div class="ui eight wide computer sixteen wide tablet column">
                        {% if announcements %}
                          <div class="ui fluid card">
                            <a class="image" href="#">
                              <img src="{% static 'img/stock/macaw-poly.jpg' %}" alt="">
                            </a>
                            <div class="content">
                              <a href="{% url 'main:news_detail' pk=announcements.0.pk %}" class="header">
                                {{ announcements.0.title|safe }}
                              </a>
                              <div class="meta">
                                <span>{{ announcements.0.date_created|date:"M d, Y" }}</span>
                              </div>
                              <div class="description">
                                {{ announcements.0.description }}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                      <div class="ui six wide computer sixteen wide tablet right floated column">
                        <div class="ui relaxed items">
                          {% if announcements %}
                            {% for announcement in announcements %}
                              <div class="item">
                                <a class="ui small image" href="#">
                                  <img src="{% static 'img/stock/macaw-poly.jpg' %}" alt="">
                                </a>
                                <div class="content">
                                  <a href="{% url 'staff:view_file' pk=announcement.pk %}" class="header">
                                      {{ announcement.title }}
                                  </a>
                                  <div class="meta">
                                    Published {{ announcement.date_created|date:"M d, Y"}}
                                  </div>
                                  <div class="description">
                                    {{ announcement.description }}
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                          {% else %}
                            <div class="item">
                              No news yet
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>


        <!-- ENDORSE -->
        <div class="ui vertical stripe stacked segment" id="enroll">
          <div class="ui center aligned grid container">
              <div class="row">
                <h3 class="ui header">
                  Become a QUESAYANO NOW <i class="exclamation icon"></i>
                </h3>
              </div>
              <div class="row">
                <p class="ui description">Come and join our community as we train our students excel in the fields of Science, Mathematics, and Technology.</p>
              </div>
              <div class="row">
                <a class="ui big green button" href="{% url 'main:admissions' %}">Enroll Now! <i class="ui angle right icon"></i></a>
              </div>
          </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/glider.js' %}"></script>
<script type="text/javascript">
  $(window).resize(function(){
    if (window.matchMedia('(max-width: 768px)').matches){
      $('#banner-text').show();
      $('#img-slides').hide();
    }
    else{
      $('#banner-text').hide();
      $('#img-slides').show();
    }
});

  new Glider(document.querySelector('.glider'), {
    slidesToShow: 1,
    slidesToScroll: 1,
    draggable: true,
    scrollLock: true,
    dots: '#dots',
    arrows : {
      prev : '.glider-prev',
      next: '.glider-next'
    },
  })
</script>
{% endblock %}
