{% extends 'base_2.html' %}
{% block title %}
  Life Science
{% endblock %}
{% block main_content %}
	<div class="ui research segment">
	<center>
		<div class="text container">
			<div class="ui horizontal section divider" style="width:83%;"><h1>Research</h1></div>
		</div>
	</center>
	<br>

	<div class="ui container">
		<div class="researchCategory">
			<div class="ui secondary pointing menu">
				<a class="item" href="appliedScience.html">Physical Science</a>
				<a class="active item" href="lifeScience.html">Life Science</a>
			</div>
		</div>
		<br><br>

		<div class="lifeScience">
			<div class="ui container">
				<div class="ui relaxed divided items">
					<div class="item">
						<div class="ui small image">
							<img src="assets/images/wireframe/image.png">
						</div>
						<div class="content">
							<a class="header" href="physical1.html">Hahaha</a>
							<div class="meta">
								<p>Jake Calubayan</p>
							</div>
							<div class="description">
								Life nga ba siya? HAHAHAHA
							</div>
							<div class="extra">
								<div class="ui label green">Life</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="ui small image">
							<img src="assets/images/wireframe/image.png">
						</div>
						<div class="content">
							<a class="header" href="physical1.html">Hahaha</a>
							<div class="meta">
								<p>Jake Calubayan</p>
							</div>
							<div class="description">
								Life nga ba siya? HAHAHAHA
							</div>
							<div class="extra">
								<div class="ui label green">Life</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br><br><br>

	</div>

</div>
{% endblock %}
