{% extends 'base_2.html' %}
{% block title %}
  News
{% endblock %}
{% block main_content %}
	<div class="news">
	<center>
		<div class="text container">
			<div class="ui horizontal section divider" style="width:83%;"><h1>News</h1></div>
		</div>
	</center>
	<br>
	<div class="ui container">
		<div class="ui relaxed divided items">
			<div class="item">
				<div class="ui small image">
					<img src="assets/images/wireframe/image.png">
				</div>
				<div class="content">
					<a class="header" href="1.html">6 New Organizations Establish in QSHS</a>
					<div class="meta">
						<p>Marl Gabriel M. Decuzar</p>
					</div>
					<div class="description">
						Quezon Science High School forms brand new clubs to allow students in showcasing their talents and to interact with other levels.
					</div>
					<div class="extra">
						<div class="ui label blue">News</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui small image">
					<img src="assets/images/wireframe/image.png">
				</div>
				<div class="content">
					<a class="header" href="2.html">QSHS students partakes in the 25th OISCA-CFP</a>
					<div class="meta">
						<p></p>
					</div>
					<div class="description">
						Five students from Quezon Science High School represented Quezon Province in the 25th Anniversary of OISCA (Organization for Industrial, Spiritual and Cultural Advancement) – Children’s Forest Program (CFP) to stimulate awareness of environmental conservation and to open their minds about the condition of our environment.
					</div>
					<div class="extra">
						<div class="ui label blue">News</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui small image">
					<img src="assets/images/wireframe/image.png">
				</div>
				<div class="content">
					<a class="header" href="3.html">SSG Maximizes Students’ Social Development</a>
					<div class="meta">
						<p>Mark Henry S. Alcantara</p>
					</div>
					<div class="description">
						The Supreme Student Government (SSG) of Quezon Science High School (QSHS) plans to implement activities outside the school to increase the exposure of students with the outside world.
					</div>
					<div class="extra">
						<div class="ui label blue">News</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui small image">
					<img src="assets/images/wireframe/image.png">
				</div>
				<div class="content">
					<a class="header" href="4.html">Nutrition Month 2016: Vegetable carving mirrors Q1k</a>
					<div class="meta">
						<p></p>
					</div>
					<div class="description">
						Along the annual fete of nutrition month in Quezon Science High School, the chosen students from particular levels created different amazing art pieces inspired by the Q1k project, showing the love and care between a mother and his baby.
					</div>
					<div class="extra">
						<div class="ui label blue">News</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui small image">
					<img src="assets/images/wireframe/image.png">
				</div>
				<div class="content">
					<a class="header" href="5.html">Memoir of the Life Supplier</a>
					<div class="meta">
						<p>Kyian Crista L. Salvatierra</p>
					</div>
					<div class="description">
						A large fruit, thick-shelled with white flesh. Who would’ve thought that most of Quezonians work would just be put into a simple looking fruit?
					</div>
					<div class="extra">
						<div class="ui label purple">Feature</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui small image">
					<img src="assets/images/wireframe/image.png">
				</div>
				<div class="content">
					<a class="header" href="6.html">Undecided Purpose</a>
					<div class="meta">
						<p>Katrina Rose R. Loreto</p>
					</div>
					<div class="description">
						Quezon Science High School (QSHS) consists of three buildings. The main building and dormitory that consist of three floors and the newly-added senior high school (SHS) building that consists of two floors. All these floors are utilized efficiently except for the main’s third floor which encompasses a vast space. Thus, rendering the third floor useless.
					</div>
					<div class="extra">
						<div class="ui label green">Editorial</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui small image">
					<img src="assets/images/wireframe/image.png">
				</div>
				<div class="content">
					<a class="header" href="7.html">Provocative Clothing</a>
					<div class="meta">
						<p>Kiara Yssabel Oblea</p>
					</div>
					<div class="description">
						When it comes to discussions about an occurrence of sexual assault and sexual abuse, the point of how the victim was dressed at the time always seem to come up. The issue is that, society holds some convictions on how clothes probably increase the risk of sexual harassments, when in reality; clothes are not a risk factor.
					</div>
					<div class="extra">
						<div class="ui label green">Editorial</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</div>
	</div>
{% endblock %}
