{% extends 'base_2.html' %}
{% block title %}
  FAQs
{% endblock %}
{% block main_content %}
	<div class="dimmed pusher">
	<div class="ui vertical stripe inverted segment">
		<div class="ui container">
			<div class="ui vertical stripe center aligned stacked segment">
				<div class="ui center alinged container">
					<div class="ui horizontal section divider inverted">
						<h1 class="ui header">Clubs and Organizations</h1>
					</div>
					<div class="ui equal width stackable internally celled grid" id="orgs">
						<div class="row">
							<div class="column">
								<h3 class="ui labeled icon black button"><i class="users icon"></i>Supreme Student Government</h3>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<button class="ui labeled icon black button"><i class="rocket icon"></i>TECHNOHUB</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"><i class="leaf icon"></i>YES-O</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"><i class="calculator icon"></i>SIPNAYAN</button>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<button class="ui labeled icon black button"><i class="flag icon"></i>BLITZKRIEG</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"><i class="write icon"></i>ATV</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"><i class="users icon"></i>INTERACT</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"><i class="spinner icon"></i>PHILOSCIRE</button>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<button class="ui labeled icon black button"><i class="unmute icon"></i>QSMV</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"> <i class="paint brush icon"></i>YAG</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"><i class="music icon"></i>MELODICO</button>
							</div>
							<div class="column">
								<button class="ui labeled icon black button"><i class="protect icon"></i>ATHLOS</button>
							</div>
						</div>
						<div class="ui horizontal inverted divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
