{% extends 'base_2.html' %}
{% block title %}
  Organizations
{% endblock %}

{% block org %}
  active
{% endblock %}

{% block main_content %}
	<div class="dimmed pusher">
    <div class="ui vertical stripe segment">
      <div class="ui container">
        <div class="ui horizontal section divider inverted">
          <h1 class="ui header">School-Recognized Organizations</h1>
        </div>
        <div class="ui relaxed divided items">
          {% for org in organizations %}
            <div class="ui item">
              <div class="ui small image">
                <img src="{{ org.logo.url }}" alt="">
              </div>
              <div class="content">
                <a href="{% url 'main:organization_details' pk=org.pk %}" class="ui header">
                  {{ org.name }}
                </a>
                <div class="meta">
                  {{ org.category }}
                </div>
                <div class="description">
                  {{ org.description|truncatechars:100 }}
                </div>
                <div class="other description">
                  <a href="{% url 'main:organization_details' pk=org.pk %}" class="ui inverted green button">Details</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
