{% extends 'staff/base_staff.html' %}

{% block title %}
  Create News
{% endblock %}

{% block news %}
  active
{% endblock %}


{% block main_content %}

  <div class="ui inverted segment">
    {% if form.errors %}
      <h1>{{ form.errors }}</h1>
    {% endif %}
    <form class="ui equal width inverted form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="field">
        <h3 class="">NOTE: The date this news is created is automatically filled by the server</h3>
      </div>
      <div class="ui fields">
        <div class="ui field">
          <label for="author">Name of the author</label>
          {{ form.author }}
        </div>
        <div class="ui field">
          <label for="author_additional_info">
            (Optional) Addition Info. of the author
          </label>
          {{ form.author_additional_info }}
        </div>
      </div>
      <div class="ui fields">
        <div class="field">
          <label>Headline of the News</label>
          <div class="ui segment">
            {{ form.headline }}
          </div>
        </div>
      </div>
      <div class="ui fields">
        <div class="field">
          <label>Headline Image</label>
            <div class="ui segment">
            {{ form.headline_image }}
          </div>
        </div>
      </div>
      <div class="ui fields">
        <div class="required field">
          <label for="cover_photo">Add a cover photo</label>
          {{ form.cover_photo }}
        </div>
      </div>
      <div class="ui fields">
        <div class="field">
          <label for="opening">Opening sentence / paragraph</label>
          {{ form.opening }}
        </div>
      </div>
      <div class="ui fields">
        <div class="field">
          <label for="lead_text">Lead sentence </label>
          <div class="ui segment">
            {{ form.lead_text }}
          </div>
        </div>
      </div>
      <div class="ui fields">
        <div class="field">
          <label>Body of the News</label>
          <div class="ui segment">
            {{ form.body_text }}
          </div>
        </div>
      </div>
      <div class="ui fields">
        <div class="field">
          <label for="other_image">Other images to add</label>
          {{ form.other_image }}
        </div>
        <div class="field">
          <label for="other_image_label">Label for other image</label>
          {{ form.other_image_label }}
        </div>
      </div>
      <input type="submit" name="" value="Create" class="ui green button">
    </form>
  </div>



{% endblock %}
