{% extends 'staff/base_staff.html' %}
{% load staticfiles %}
{% block title %}
  Details - {{ organization.name }}
{% endblock %}
{% block organization %}
  active
{%endblock%}
{% block main_content %}
  <div class="ui segment">
    <div class="ui container">
      <div class="ui celled grid">
      
        {% if organization %}
        <div class="row">
          <table class="ui table">
            <thead>
              <th>Name</th>
              <th>Position</th>
              <th>Picture</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ organization.adviser }}
                </td>
                <td>
                  Adviser
                </td>
                <td>
                  {% if organization.adviser_picture %}
                  <img src="{{ organization.adviser_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.president }}
                </td>
                <td>
                  President
                </td>
                <td>
                  {% if organization.pres_picture %}
                  <img src="{{ organization.pres_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
