{% extends 'staff/base_staff.html' %}
{% load staticfiles %}
{% block title %}
  Details - {{ organization.name }}
{% endblock %}
{% block organization %}
  active
{%endblock%}
{% block main_content %}
  <div class="ui segment">
    <div class="ui container">
      <div class="ui celled grid">
      <a href="{% url 'staff:organization_hr_list' organization=organization.organization %}" class="ui blue button"><i class="angle double left icon"></i>Go back</a>
        {% if organization %}
        <div class="row">
          <table class="ui table">
            <thead>
              <th>Name</th>
              <th>Position</th>
              <th>Picture</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ organization.adviser }}
                </td>
                <td>
                  Adviser
                </td>
                <td>
                  {% if organization.adviser_picture %}
                  <img src="{{ organization.adviser_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.president }}
                </td>
                <td>
                  President
                </td>
                <td>
                  {% if organization.pres_picture %}
                  <img src="{{ organization.pres_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.vice_president }}
                </td>
                <td>
                  Vice President
                </td>
                <td>
                  {% if organization.vp_picture %}
                  <img src="{{ organization.vp_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.secretary }}
                </td>
                <td>
                  Secretary
                </td>
                <td>
                  {% if organization.sec_picture %}
                  <img src="{{ organization.sec_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.treasurer }}
                </td>
                <td>
                  Treasurer
                </td>
                <td>
                  {% if organization.tres_picture %}
                  <img src="{{ organization.tres_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.auditor }}
                </td>
                <td>
                  Auditor
                </td>
                <td>
                  {% if organization.auditor %}
                  <img src="{{ organization.auditor.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.pio }}
                </td>
                <td>
                  Public Information Officer (PIO)
                </td>
                <td>
                  {% if organization.pio_picture %}
                  <img src="{{ organization.pio_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.g7_rep }}
                </td>
                <td>
                  Grade 7 Representative
                </td>
                <td>
                  {% if organization.g7_picture %}
                  <img src="{{ organization.pio_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.g8_rep }}
                </td>
                <td>
                  Grade 8 Representative
                </td>
                <td>
                  {% if organization.g8_picture %}
                  <img src="{{ organization.g8_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.g9_rep }}
                </td>
                <td>
                  Grade 9 Representative
                </td>
                <td>
                  {% if organization.g9_picture %}
                  <img src="{{ organization.g9_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.g10_rep }}
                </td>
                <td>
                  Grade 10 Representative
                </td>
                <td>
                  {% if organization.g10_picture %}
                  <img src="{{ organization.g10_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.g11_rep }}
                </td>
                <td>
                  Grade 11 Representative
                </td>
                <td>
                  {% if organization.g11_picture %}
                  <img src="{{ organization.g11_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {{ organization.g12_rep }}
                </td>
                <td>
                  Grade 12 Representative
                </td>
                <td>
                  {% if organization.g12_picture %}
                  <img src="{{ organization.g12_picture.url }}" alt="Adviser" width="100px" height="100px">
                  {% else %}
                  <img src="{% static 'img/avatar/tom.jpg' %}" alt="Adviser" width="100px" height="100px">
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="row">
          <h2>No officers as of yet.</h2>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
