{% extends 'staff/base_staff.html' %}
{% block organization %}
active
{% endblock %}
{% block title %}
	Organization
{% endblock %}

{% block main_content %}
	<div class="ui container">
		<div class="ui segment">
			<a href="{% url 'staff:organizations' %}" class="ui blue button"><i class="angle double left icon"></i>Organization List</a>
			<table class="ui celled three column centered table">
				<thead>
					<th>
						Organization Name
					</th>
					<th>
						School Year
					</th>
					<th>
						Officers
					</th>
				</thead>
				<tbody>
					{% for batch in human_resource %}
						<td>{{ batch.organization }}</td>
						<td>{{ batch.school_year }}</td>
						<td>
							<div class="ui buttons">
								<a href="{% url 'staff:organization_hr_detail' pk=batch.pk organization=batch.organization %}" class="ui green button">Details</a>
								<a href="{% url 'staff:organization_hr_update' organization=batch.organization pk=batch.pk %}" class="ui orange button">Update</a>
								<a href="{% url 'staff:organization_hr_delete' organization=batch.organization pk=batch.pk %}" class="ui red button">Delete</a>
							</div>
						</td>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}