{% extends 'staff/base_staff.html' %}
{% block album %}
  active
{% endblock %}
{% block main_content %}
  <div class="ui raised segment">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          <h1 class="ui centered header">List of Albums Posted</h1>
          <a href="{% url 'staff:create_album' %}" class="ui orange button">Create an Album</a>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <table class="ui two column celled table">
            <thead>
              <tr>
                <td>Album</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              {% for album in albums %}
              <tr>
                  <td>{{ album.title }}</td>
                  <td>
                    <a href="{% url 'staff:photos' album=album.slug %}" class="ui green button">Details</a>
                    <a href="{% url 'staff:album_delete' pk=album.pk %}" class="ui red button">Delete</a>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
