{% extends 'staff/base_staff.html' %}
{% block album %}
  active
{% endblock %}
{% block main_content %}
  <div class="ui raised segment">
    <div class="ui grid">
      <div class="row">
        <div class="center aligned column">
          <h1 class="ui header">List of Albums Posted</h1>
        </div>
      </div>
      <div class="row">
        <table class="ui celled table">
          <thead>
            <tr>
              <td>Album</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {% for album in albums %}
            <tr>
                <td>{{ album.title }}</td>
                <td>
                  <a href="{% url 'album:photos' album=album.slug %}" class="ui green button">Details</a>
                </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
