{% extends 'staff/base_staff.html' %}
{% load staticfiles %}
{% block main_content %}
  <div class="ui raised segment">
    <div class="ui grid">
      <div class="ui basic modal">
        <div class="ui icon header">
          <i class="upload icon"></i>
          Uploading images
        </div>
        <div class="content">
          <div class="ui teal progress" id="progress">
            <div class="bar"></div>
            <div class="label" style="color:white;"></div>
          </div>
        </div>
        <div class="actions">
          <div class="ui red cancel inverted button" id="cancel_button">
            <i class="remove icon"></i>
            Cancel Upload
          </div>
          <div class="ui green ok inverted button" id="confirm_button">
            <i class="checkmark icon"></i>
            Confirm
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <input id="fileupload" name="file" type="file" multiple accept="image/*"
            data-url = "{% url 'album:upload_photo' album=photos.album_slug %}"
            data-form-data='{"csrfmiddlewaretoken" : "{{ csrf_token }}"}'>
          <h3>{{ photos.album}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="ui header">Recently Uploaded</h3>
          <div class="gallery recently uploaded">
            asdsa
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          {% for photo in photos.photos %}
            <img src="{{ photo.file.url }}" alt="" width="250">
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/file_upload.js' %}"></script>
<!-- TODO: Implement a carousel view for all the photos
<script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
<script type="text/javascript">
  $('.slider').glide();
</script>
-->
{% endblock %}
