{% extends 'base_2.html'%}
{% block title %}
  Admissions
{% endblock %}
{% block main_content %}
      <div class="ui vertical stripe inverted stacked segment">
        <div class="ui center aligned grid container">
          <div class="row">
            <h1 class="ui header">Admissions</h1>
          </div>
          <div class="ui inverted divider"></div>
          <div class="ui four top attached mobile stackable steps">
            <a class="active step" id="step1">
              <i class="tasks icon"></i>
              <div class="content">
                <div class="title">
                  Eligibility
                </div>
                <div class="description">
                  Criteria for the applicant
                </div>
              </div>
            </a>
            <a class="step" id="step2">
              <i class="file alternate outline icon"></i>
              <div class="content">
                <div class="title">
                  Forms
                </div>
                <div class="description">
                  Submission of requirements
                </div>
              </div>
            </a>
            <a class="step" id="step3">
              <i class="pencil alternate icon"></i>
              <div class="content">
                <div class="title">
                  Examination
                </div>
                <div class="description">
                  The students will undergo QSHSAT.
                </div>
              </div>
            </a>
            <a class="step" id="step4">
              <i class="hourglass outline icon"></i>
              <div class="content">
                <div class="title">
                  Results
                </div>
                <div class="description">
                  Waiting for the announcement of results
                </div>
              </div>
            </a>
          </div>
          <div class="ui attached segment">
            <div class="content_1">
              <div class="ui grid container">
                <div class="row">
                  <div class="ui left floated five wide computer sixteen wide tablet column">
                    <div class="ui labeled button">
                      <h3 class="ui basic green large compact button">Requirements</h3>
                      <a class="ui green left pointing label"><i class="white check icon"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="ui right floated ten wide computer sixteen wide tablet column">
                    <div class="ui raised segment">
                      <h2 class="ui center aligned header labeled">
                        <i class="list ol icon"></i>
                        <div class="content">
                          Applicant must:
                        </div>
                      </h2>
                      <div class="ui hidden divider"></div>
                      <div class="ui relaxed ordered list" style="text-align:left;">
                          <div href="#" class="item" style="margin:0.75em 0;">
                              be a bonafide resident of Quezon Province, Lucena City and Tayabas City;
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                              be an incoming Grade 7 Student;
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                              be physically and psychology fit to undergo rigorous academic program;
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                              have a good aptitude in Science, Mathematics and English;
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                              have a rating of 85% or above in Science, Mathematics and English during the 1<sup>st</sup> and 2<sup>nd</sup> Quarters of the current school year;
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                              have a final rating of 83% and above in all other subjects;
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                              have a general average of 85% and above
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                              have not taken the Quezon Science High School Admission Test (QSHSAT) previously
                          </div>
                      </div>
                      <div class="ui divider">

                      </div>
                      <div class="ui description raised inverted segment">
                        <i class="exclamation inverted icon"></i> For an applicant who had already completed Grade 6, the student must satisfy all of the above requirements and have not yet enrolled in Grade 7.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui divider"></div>
              </div>
            </div>

            <div class="content_2">
              <div class="ui grid container">
                <div class="row">
                  <div class="ui left floated five wide computer sixteen wide tablet column">
                    <div class="ui labeled button">
                      <h3 class="ui basic green large compact button">Requirements</h3>
                      <a class="ui green left pointing label"><i class="white check icon"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="ui right floated ten wide computer sixteen wide tablet column">
                    <div class="ui raised segment">
                      <h2 class="ui center aligned header labeled">
                        <i class="tasks icon"></i>
                        <div class="content">
                          Things to bring / required:
                        </div>
                      </h2>
                      <div class="ui hidden divider">

                      </div>
                      <div class="ui relaxed list" style="text-align:left;">

                          <a href="#" class="item" style="margin:0.75em 0;">
                            <i class="ui right triangle icon"></i>
                              Application Form
                          </a>
                          <div class="item" style="margin:0.75em 0;">
                            <i class="ui right triangle icon"></i>
                                Photocopy of Form 138
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                            <i class="ui right triangle icon"></i>
                                Photocopy of NSO or PSA Birth Certificate
                          </div>
                          <div class="item" style="margin:0.75em 0;">
                            <i class="ui right triangle icon"></i>
                                Certifacte of Good Moral (signed by the Principal)
                          </div>

                      </div>
                      <div class="ui divider">

                      </div>
                      <div class="ui description raised inverted segment">
                        <i class="exclamation inverted icon"></i> All requirements should be submitted on or before January 5, 2018 at
                        <br/> QSHS Admission Secretariat, Isabang, Tayabas City.
                        <br /><i class="exclamation inverted icon"></i> Incomplete documents will not be processed.
                        <br /><i class="exclamation inverted icon"></i>There will be a testing fee of Php 50.00 to cover the expenses related to the admission test.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui divider"></div>
              </div>
            </div>

            <div class="content_3">
              <div class="ui grid container">
                <div class="row">
                  <div class="ui left floated five wide computer sixteen wide tablet column">
                    <div class="ui labeled button">
                      <h3 class="ui basic green large compact button">First Phase</h3>
                      <a class="ui green left pointing label"><i class="white check icon"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="ui right floated ten wide computer sixteen wide tablet column">
                    <div class="ui raised segment">
                      <p class="description">
                        <b>February 3, 2018</b> <br/> at Quezon Science High School, Brgy. Isabang, Tayabas City near Max's
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="ui left floated five wide computer sixteen wide tablet column">
                    <div class="ui labeled button">
                      <h3 class="ui basic green large compact button">Second Phase</h3>
                      <a class="ui green left pointing label"><i class="white check icon"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="ui right floated ten wide computer sixteen wide tablet column">
                    <div class="ui raised segment">
                      <p class="description">
                        <b>April 10 - 13, 2018</b> <br /> at at Quezon Science High School, Brgy. Isabang, Tayabas City near Max's
                      </p>
                      <div class="ui inverted segment">
                        <i class="exclamation icon"></i> Parents are advised to be with the applicant during the interview.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="content_4">
                <div class="ui grid container">
                  <div class="row">
                    <div class="ui left floated six wide computer sixteen wide tablet column">
                      <div class="ui labeled button">
                        <h3 class="ui basic red large compact button">TO BE ANNOUNCED</h3>
                        <a class="ui green left pointing label"><i class="white check icon"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="ui right floated ten wide computer sixteen wide tablet column">
                      <div class="ui raised segment">
                        <p class="description">
                          To be announced after the second phase.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
{% endblock %}
