{% extends 'base_2.html' %}
{% load staticfiles %}
{% block title %}
  Announcement
{% endblock %}
{% block announcement %}
  active
{% endblock %}

{% block main_content %}
  <div class="ui vertical stripe raised segment">
    <div class="ui grid container">
      <div class="centered row">
        <h1 class="ui header">
          {{ announcement.title }}
        </h1>
      </div>
      <div class="centered row">
        <img src="{% static 'img/stock/macaw-poly.jpg' %}" style="height: 400px">
      </div>
      <div class="row">
        <div class="ui sixteen wide column">
          <div class="ui raised segment">
            <p class="description">
              {{ announcement.description }}
            </p>
          </div>
        </div>  
      </div>
      {% if announcement.file.url %}
      <div class="row">
        <a href="{{ announcement.file.url }}" class="ui sixteen wide tablet column green button">
          Download Attached File
        </a>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
