{% extends 'base_2.html' %}
{% block title %}
  <!-- Org Name -->
{% endblock %}
{% block main_content %}
  <div class="orgTemplate">
  <div class="ui container">
    <div class="ui stackabled grid segment">
      <div class="stackable row">
        <article class="ui header centered left floated eight wide computer six wide tablet column">
          <h1>Club Name</h1>
          <div class="ui divider"></div>
          <h3>Club Description / Abstract</h3>
        </article>
        <aside class="right floated six wide computer six wide tablet column">
          <center>
            <img src="img/wireframe/square-image.png" alt="club-logo">
          </center>
        </aside>
      </div>
    </div>
    <div class="ui segment">
      <p>
        History and stuff
      </p>
    </div>
  </div>
</div>
{% endblock %}
